// basic set up of the page
html
  height 100%
  box-sizing border-box
  font-family sans-serif
*
  margin 0
  padding 0

* *:before *:after
  box-sizing border-box

html, body
  min-height 100%
  height 100%
  display block

#gameContainer
  min-height 100%
  height 100%
  background #23A6D5

// define player

.interfaceLayer
  z-index 2
  position absolute
  overflow hidden
  min-height 100%
  height 100%
  width 100%

.interface
  min-height 100%
  height 100%
  width 100%
  display flex
  justify-content center
  align-items center
  flex-direction column

#startGameScreen.interface
  background rgba(1,1,1,0.5)
  .legend
    text-align center
    padding 50px
    color white


#gameInterface
  justify-content flex-end
  .scoreContainer
    padding 10px
    background rgba(1,1,1,0.3)
    color white
    width 100%
    display flex
    flex-direction row
    justify-content space-between
    align-content space-between
    font-size 2em
  .score,#health
    padding 10px

#endGameScreen.interface
  background rgba(1,1,1,0.8)
  .legend
    text-align center
    padding 50px
    color white
  .score
    color #EE7752


.hidden
  display none

.playerLayer
  z-index 1
  position absolute
  width 100%
  // render player
  #player
    position relative
    top: 20px
    left 45%
    width 10vw
    height 10vw
    background url('../pic/cat.png')
    background-repeat no-repeat
    background-size contain
    background-position center
    transition: transform .3s ease-in-out;
  .direction
    transform: scaleX(-1)

.backgroundLayer
  z-index 0
  min-height 100%
  height 100%
  overflow hidden
  .obstacles
    position relative
    box-sizing border-box
    min-height 100%
    width 100%
    border-left 5px dashed #EE7752
    border-right 5px dashed #EE7752
    display flex
    flex-direction column
    justify-content space-around
    align-items center

.obstacleRow
  width 100%
  display flex
  flex-direction row
  justify-content center
  align-items center
  div
    height 60px
    flex-grow 1
  .obstacle
    background #EE7752
  .collided
    background red




// button duplicated from main style

.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cta-btn{

  font-size: 1.1rem;
  background-color: #fff;
  padding: .9rem 1.8rem;
  color: var(--body-font-color);
  /* border-radius: .4rem; */
  transition: background-color .5s;

}

.cta-btn:hover,
.cta-btn:focus{
  color:#fff;
  background-color: black;
  cursor: pointer;
}
